@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

.container{
    width: 100%;
  
}
header{

}
body{
  scroll-behavior: smooth;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:linear-gradient(130deg, #5a0606,#000000);
  padding: 10px 20px;

}
nav .logo{
  display: flex;
  align-items: center;
  gap: 18px;
  
  
}
.logo img{
  height: 5%;
  width: 5%;
  border-radius: 50%;
}
nav span{
  color: #eef4f8;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  font-size: 28px;
}
nav ul{
  display: flex;
  list-style: none;
}
nav ul li{
  margin: 20px 10px;
}

nav ul li a{
  color: rgb(170, 221, 230);
  text-decoration: none;
  font-family: 'EB Garamond', serif;
  font-size: 30px;
  font-weight: bold;
  gap: 10px;
  text-align: center;
}

#home{
 height: 100vh;
  padding-top: 80px;
 background: linear-gradient(130deg, #ab0707,#090707); 
}
.card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-body{
    width: 80%;
    height: 80%;
    background: linear-gradient(130deg, #ab0707,#cebcbc);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.home-sectionheading{
    color: #eef4f8;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 45px;
    font-weight: bold;
    margin-bottom: 15px;
display: flex;

}
.home-text{
  color: #130808;
  text-shadow: #8f0b0b;
  justify-content: space-between;
}

.home-role{
  margin:2%;
  color: #cebcbc;
  text-shadow: #8f0b0b;
}
.home-section-desription{
    color: #eef4f8;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}
.btn{
  
}

.btn1{
  background-color: #5a0606;
  color: #000000;
  height: 100%;
}
.dwld{
  background-color: #090707;
  color: #cebcbc;
}